.accordion {
  padding: 12px 0;
  width: 100%;
  text-align: left;
  
  font-family: "Lexend";
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: var(--primary);
  
  border: none;
  border-top: 1px solid var(--primary-separation);
  background: var(--neutral);
  
  cursor: pointer;
  transition: 0.4s;
  
  &:last-of-type {
    border-bottom: 0px;
  }
}


.accordion-text {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-out;

  &:last-of-type {
    margin-bottom: 40px;

    border-bottom: 1px solid var(--primary-separation);
  }

  p {
    margin-bottom: 24px;
  }
}

.accordion:after {
  content: url('../img/Icon/Navigation/Chevron-down.svg'); 
  margin-right: 3px;
  float: right;
  
  font-size: 13px;

  transition: 0.3s ease;
}

.accordion.active:after {
  content: url('../img/Icon/Navigation/Chevron-down.svg'); 

  transform: rotate(-180deg);
  transition: 0.3s ease;
}

@media (min-width:1200px) {
  .accordion,
  .accordion-text {
    font-size: 18px;
  }
}