.breadcrumb {
  margin-top: 24px;
  font-size: 16px;
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    display: none;
    &:nth-child(2) {
      display: block;
      &::after {
        content: "";
      }
      &::before {
        content: url('../img/Icon/Navigation/Chevron-left.svg');
        margin-right: 6px;
      }
    }
  }

  li::after {
    content: url('../img/Icon/Navigation/Chevron-right.svg');
    margin: 0 6px;
  }

  li:last-child::after {
    content: "";
  }
}

@media (min-width:768px) {
  .breadcrumb {
    li {
      display: block;
      &:nth-child(2)::after {
        content: url('../img/Icon/Navigation/Chevron-right.svg');
      }
      &:nth-child(2)::before {
        content: "";
        margin: 0;
      }
    }
  }
  
}

@media (min-width:1200px) {
  .breadcrumb {
    margin-top: 16px;
    color: var(--primary-light);
    li {
      transition: 0.3s ease;
    }
    li:hover {
      color: var(--primary);
      transition: 0.3s ease;
    }
  }
}